:root {
  --primary-color: #425563;
  --secondary-color: #FFC72C;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--primary-color);
}

h1 {
  color: var(--secondary-color);
}

 .selectionBox {
  background-color: var(--secondary-color);
  aspect-ratio: 1 / 1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.boxTextStartPage {
  color: var(--primary-color);
}

 a {
  color: var(--primary-color);
  text-decoration: none;
 }

 a :hover {
  color: var(--primary-color);
  text-decoration: underline;
 }

 .layoutHeader {
  padding-top: 10px;
  height: 100px;
 }

 .layoutColumn {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 /* .room-info-row {
  margin: 0;
 } */

 .room-info-row:first-child {
  margin-top: 40px;
 }

 .room-info-col {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
 }

 .return-arrow {
  position: fixed;
  color: var(--secondary-color);
  font-size: 80px;
  bottom: 20px;
  left: 40px;
 }

 .return-arrow:hover {
  cursor: pointer;
 }
 