:root {
  --primary-color: #425563;
  --secondary-color: #FFC72C;
}



#root {
  width: 1620px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

h1 {
  color: var(--secondary-color);
}


/* Tillfälligt bara för att visa json datat */
h3 {
  color: var(--secondary-color);
}
/* --------------------------------------- */

timeDateLayout {
  color: var(--secondary-color);
}

.headerContainer {
  display: flex;
  justify-content: center;
 }

 .layoutHeader {
  height: 100px;
  width: 100%;
  max-width: 1620px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 
 